html, body {
  margin: 0;
  padding: 0;
}

/* asset 에 인물 사진 넣어놨습니다. */









.form-contro {
  width: 50%;
}

.commentbox
{
width: 50%;
margin: 20px auto 20px auto;
border: solid 1px black;
padding: 20px;
border-radius: 5px;
}
