
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/asset/memeber_pic/______6.gif");
  background-size: cover;
}

/* / 도트 게임 스타일 폰트  */
@font-face {
  font-family: "DungGeunMo";
  src: url(./asset/font/DungGeunMo.woff);
}


body, h1, h2, p {
  font-family: "DungGeunMo";
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/2825704.gif");
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}


/* header */ 
.mytitle {
  margin-top: 30px;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.mytitle > h1 {
  font-size: 3.5rem;
}

/* asset 에 인물 사진 넣어놨습니다. */

/* 팀원 소개 */

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dongle&family=Nanum+Pen+Script&family=Orbit&display=swap');

.member_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iconbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px 10px 10px;
  width: 1100px;
  color: white;
  border: 1px solid red;
}

.iconbox > h2 {
  margin-top: 100px;
  border: 1px solid red;
}

.iconcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 5px 10px;
}

.iconcontent>p {
  margin: 5px 5px 5px 5px;
  font-size: 1.2rem;
  border: 1px solid red;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
  margin: 50px 10px 80px 10px;
}

.icon_midbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid yellow;
  flex-wrap: wrap;
}

.member_area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  flex-wrap: wrap;
  border: 1px solid red;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 20px 10px 20px;
  border-radius: 20px;
}

.icon>p {
  font-size: 20px;
  margin-top: -2px;
}

.iconbox > h2 {
  font-size: 2.5rem;
}

.member_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.member_btn>img {
  width: 120px;
  height: 120px;
  border-radius: 18px;
  object-fit: cover;
}

.icon:hover {
  transform: scale(1.035);
}

.information_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  width: 300px;
  height: 500px;
  border: 1px solid red;
}

.information_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 15px;
}

.information_text > p {
 margin: 0;
}

.information_box>img {
  width: 200px;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}

a {
  text-decoration: none;
  color: white;
}

.member_btn > img:hover {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  box-shadow: 0 0 15px rgb(54, 146, 222), 0 0 45px rgb(54, 146, 222),
  0 0 75px rgb(54, 146, 222),0 0 150px rgb(54, 146, 222);
}









/* <---------------------------------------------준호----------------------------------------------------> */
.guest_book{

  padding: 30px;
  
}
.form-contro {
  width: 50%;
}

.commentbox {
  width: 50%;
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: transparent;
}

.commentbox {

  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 4px double rgb(54, 146, 222);
  outline: 0;
  border-radius: 5px;
}
.commentbox > text {

  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 3px double rgb(54, 146, 222);

}
/* 마우스 올렷을시에!! 네온 사인 효과  */
.neon :hover {
  background: rgb(66, 145, 210);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  box-shadow: 0 0 15px rgb(54, 146, 222), 0 0 45px rgb(54, 146, 222),
  0 0 75px rgb(54, 146, 222),0 0 150px rgb(54, 146, 222);
}
/*  네온 사인 효과  */

  .neon :hover{
    z-index: 1;
    color: #495057;
    background-color: transparent;

  }


.list-group-item {
  background-color: transparent;
  color: white;
}

.form-control {
  background-color: transparent;
  color: whitesmoke;
  border: 3px double rgb(54, 146, 222);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.make{
  background-color: transparent;
  color: #fff;
  border: 3px double rgb(54, 146, 222);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;

}
.list-group-item
{
  border: 3px double rgb(54, 146, 222);
}

.warning1 {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

.warning2 {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

/*방명록 관련 CSS  */

.nesfont {
  font-family: "DungGeunMo";
  /* color: whitesmoke; */
}

/* //* <---------------------------------------------준호----------------------------------------------------> */






/* <창근> team intro part */

.hidden {
  display: none;
}

.team_intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  scale: 80%;
  width: 1200px;
  margin: 20px auto 20px auto;
}

.intro_left {
  width: 470px;
}

.intro_right {
  width: 700px;
}

.team_picture {
  width: 400px;
  height: 420px;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 30px;
  box-shadow: 0 1px 10px rgb(0, 0, 0);

  background-image: url("./asset/memeber_pic/teampicture3.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  text-align: center;
}

.team_picture:hover {
  transform: scale(1.05)
}

.saEnter {
  padding: 10px 15px 10px 15px;
  margin: auto auto 0px auto;
  border-radius: 30px;
  background-color: #F6BB43;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 1px 10px rgb(0, 0, 0);

  font-size: 25px;
  text-align: center;
  color: white;

  /* display: flex; */
}

.saEnter:active {
  transform: scale(0.94);
}

.team_slogan {
  /* background-color: #1C2028; */
  width: 650px;
  height: 100px;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #F6BB43;
}

.team_slogan h1 {
  font-size: 40px;
}

.team_aspiration {
  /* background-color: #5C5F65; */
  width: 650px;
  height: 300px;
  padding: 20px;
  margin: 20px auto 20px auto;
  border-radius: 30px;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  font-size: 20px;
  text-align: center;
  color: white;
}

.aspiration_top {
  color: #F6BB43;
  font-size: 22px;
}

.aspiration_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
  width: 610px;

  align-items: center;
  line-height: 60%;

  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 15px;
}

.aspiration_bottom_left h1 {
  font-size: 30px;
}

.aspiration_bottom_right {
  width: 400px;
  padding-left: 20px;
  text-align: left;
}


/* 네비게이션 바 */

.container-fluid {
  margin-top: 50px;
  position: fixed;
  background-color: transparent;
}

.container-fluid .nav-item {
  font-size: 25px;
  align-items: right;
  font-family: "DungGeunMo";
}
.navbar-brand {
  font-size: 40px;
  font-family: "DungGeunMo";
}

.navbar {
  padding: 0;
}